<div class="grid-helper {{ container_classes }}">
    <svg class="{{ star_classes }}"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 118 223">
        <path fill="#E52321" d="m0 222.51 58.58-33.81L118 223v-16.25l-59.42-34.3L0 206.27v16.24Z" />
        <path fill="#E52321" d="m0 197.88 58.58-33.82 59.42 34.3v-16.25l-59.42-34.3L0 181.63v16.25Z" />
        <path fill="#E52321" d="m0 173.24 58.58-33.81 59.42 34.3v-16.25l-59.42-34.3L0 156.99v16.25Z" />
        <path fill="#E52321" d="m0 148.6 58.58-33.8L118 149.1v-16.25l-59.42-34.3L0 132.35v16.25Z" />
        <path fill="#E52321" d="m0 123.97 58.58-33.81 59.42 34.3V108.2L58.58 73.9 0 107.72v16.25Z" />
        <path fill="#E52321" d="m0 99.34 58.58-33.82L118 99.82V83.57l-59.42-34.3L0 83.1v16.25Z" />
        <path fill="#E52321" d="m0 74.7 58.58-33.82L118 75.18V58.95l-59.42-34.3L0 58.45V74.7Z" />
        <path fill="#E52321" d="m0 50.07 58.58-33.82L118 50.55V34.3L58.58 0 0 33.82v16.25Z" />
    </svg>
</div>
