<div class="grid-helper {{ container_classes }}">
    <svg class="{{ star_classes }}"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 235 444">
        <path fill="#E52321" fill-rule="evenodd" d="M116.66 0 235 68.3v32.35l-118.34-68.3L0 99.7V67.33L116.66 0ZM1 67.91v30.04L116.66 31.2 234 98.92V68.88L116.66 1.15 1 67.91Zm115.66-18.86L235 117.35v32.35L116.66 81.4 0 148.74v-32.36l116.66-67.33ZM1 116.96V147l115.66-66.75L234 147.97v-30.04L116.66 50.2 1 116.96ZM116.66 98.1 235 166.4v32.35l-118.34-68.3L0 197.8v-32.36L116.66 98.1ZM1 166.01v30.04l115.66-66.75L234 197.02v-30.04L116.66 99.25 1 166.01Zm115.66-18.86L235 215.45v32.35l-118.34-68.3L0 246.84v-32.36l116.66-67.33ZM1 215.06v30.04l115.66-66.75L234 246.07v-30.04L116.66 148.3 1 215.06Zm115.66-18.86L235 264.5v32.35l-118.34-68.3L0 295.88v-32.35l116.66-67.33ZM1 264.11v30.04l115.66-66.75L234 295.12v-30.04l-117.34-67.73L1 264.11Zm115.66-18.86L235 313.55v32.35l-118.34-68.3L0 344.93v-32.35l116.66-67.33ZM1 313.16v30.04l115.16-66.46.5-.3.5.3L234 344.17v-30.05L116.66 246.4 1 313.16Zm115.66-18.86L235 362.6v32.35l-118.34-68.3L0 394v-32.36l116.66-67.33ZM1 362.2v30.04l115.66-66.75L234 393.22v-30.05l-117.34-67.72L1 362.21Zm115.66-18.86L235 411.65V444l-118.34-68.3L0 443.04v-32.36l116.66-67.33ZM1 411.26v30.04l115.66-66.75L234 442.27v-30.04L116.66 344.5 1 411.26Z" clip-rule="evenodd" />
    </svg>
</div>
