<footer class="bg-[#666666]/10 w-full">
    <div class="py-32 alex-grid">
        <div class="flex items-center justify-center w-full alex-col">
            <img class="hidden w-full h-auto md:block"
                 src="{{ get_image(post.footer_logos).src }}">
            <img class="w-full h-auto md:hidden"
                 src="{{ get_image(post.footer_logos_mobile).src }}">
        </div>
    </div>
</footer>
