<div class="fixed z-40 right-8 bottom-8">
    <button class="fixed right-8 bottom-8 bg-gray-800 text-white text-sm font-medium px-5 py-2.5 rounded-full focus:outline-none focus:ring-4 focus:ring-gray-300"
            x-data
            @click="fillFormWithTestData()">
        Riempi con dati random
    </button>
</div>
