<div class="alex-grid {{ container_classes }}">
    <svg class="{{ star_classes }}"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 162 162">
        <path fill="#C800DC" fill-rule="evenodd" d="M77.1 60.45V0h7v60.45h-7Zm-13.22 8.37L21.13 26.08l4.95-4.95 42.75 42.74-4.95 4.95Zm76.18-42.74L97.32 68.83l-4.95-4.95 42.74-42.75 4.95 4.95ZM60.45 84.1H0v-7h60.45v7Zm100.74 0h-60.44v-7h60.44v7Zm-26.08 55.96L92.37 97.32l4.95-4.95 42.74 42.74-4.95 4.95ZM68.83 97.32l-42.75 42.75-4.95-4.95 42.75-42.75 4.95 4.95Zm8.27 63.88v-60.45h7v60.44h-7Z" clip-rule="evenodd" />
    </svg>
</div>
