<!DOCTYPE html>
<html {{ site.language_attributes }}>
  {% block head %}
    {% include "partials/head.twig" %}
  {% endblock head %}
  <body class="{{ body_class }}">
    {{ function("wp_body_open") }}
    {% include "components/tailwind-debugger.twig" %}
    <main>
      {% block content %}

      {% endblock content %}
    </main>
    {% block footer %}

    {% endblock footer %}
    {{ function("wp_footer") }}
    {% do action("get_footer") %}
  </body>
</html>
