{# Mail di ringraziamento che riceve l'utente dopo aver compilato il form di B4T #}

{% extends "emails/base.mjml.twig" %}
{% block content %}
  <mj-image src="{{ theme.link }}/assets/images/logo-b4t.png" alt="B4T - Bologna for Talent" width="128px" align="left" />
  <mj-text>
  <p>
    <strong>Salve {{ user.full_name }}</strong>,
  </p>
  <p>
    abbiamo ricevuto la sua richiesta di adesione a Bologna for Talent.
  </p>
  <p>
    Grazie per il suo interesse.
  </p>
  </mj-text>
{% endblock %}
