<div x-data="carousel({ slidesCount: 45 })" class="carousel">
  <div class="swiper" x-ref="container">
    <div class="swiper-wrapper carousel__swiperWrapper">
      <div class="swiper-slide carousel__swiperSlide p-card">
        <div class="carousel__image">
          <img
            src="//pangrampangram.com/cdn/shop/articles/palantis-brands-immothep-concept-3-2048x1615.jpg?v=1764772581"
            width="2000"
            height="2000"
          />
        </div>
        <div class="carousel__content p-stack">
          <div class="carousel__tags">
            <div class="badge badge--red">
              Branding
            </div>

            <div class="badge badge--red">
              Digital
            </div>
          </div>
          <h3 class="carousel__title">Immothep Concept</h3>
          <a
            href="/blogs/font-in-use/immothep-concept"
            class="button button--secondary carousel__button"
          >
            <span>View project</span>
          </a>
        </div>
      </div>

      <div class="swiper-slide carousel__swiperSlide p-card">
        <div class="carousel__image">
          <img
            src="//pangrampangram.com/cdn/shop/articles/FIU_-_CoverLarry.jpg?v=1762890252"
            width="2000"
            height="2000"
          />
        </div>
        <div class="carousel__content p-stack">
          <div class="carousel__tags">
            <div class="badge badge--red">
              Branding
            </div>

            <div class="badge badge--red">
              Packaging
            </div>
          </div>
          <h3 class="carousel__title">Drink Larry</h3>
          <a
            href="/blogs/font-in-use/drink-larry"
            class="button button--secondary carousel__button"
          >
            <span>View project</span>
          </a>
        </div>
      </div>

      <div class="swiper-slide carousel__swiperSlide p-card">
        <div class="carousel__image">
          <img
            src="//pangrampangram.com/cdn/shop/articles/Capsule_a7ce4b38-2a84-49da-b44f-be4229c31238.jpg?v=1762201770"
            width="2000"
            height="2000"
          />
        </div>
        <div class="carousel__content p-stack">
          <div class="carousel__tags">
            <div class="badge badge--red">
              Branding
            </div>
          </div>
          <h3 class="carousel__title">Capsule WD.</h3>
          <a
            href="/blogs/font-in-use/capsule-wd"
            class="button button--secondary carousel__button"
          >
            <span>View project</span>
          </a>
        </div>
      </div>

      <div class="swiper-slide carousel__swiperSlide p-card">
        <div class="carousel__image">
          <img
            src="//pangrampangram.com/cdn/shop/articles/Cowboy-Coffee-cover.webp?v=1762201911"
            width="2000"
            height="2000"
          />
        </div>
        <div class="carousel__content p-stack">
          <div class="carousel__tags">
            <div class="badge badge--red">
              Branding
            </div>

            <div class="badge badge--red">
              Print
            </div>
          </div>
          <h3 class="carousel__title">Cowboy</h3>
          <a
            href="/blogs/font-in-use/cowboy"
            class="button button--secondary carousel__button"
          >
            <span>View project</span>
          </a>
        </div>
      </div>

      <div class="swiper-slide carousel__swiperSlide p-card">
        <div class="carousel__image">
          <img
            src="//pangrampangram.com/cdn/shop/articles/3B_6b33944a-ea5a-405f-bfe0-3e498c1e8da1.png?v=1758653841"
            width="2000"
            height="2000"
          />
        </div>
        <div class="carousel__content p-stack">
          <div class="carousel__tags">
            <div class="badge badge--red">
              Branding
            </div>

            <div class="badge badge--red">
              Print
            </div>
          </div>
          <h3 class="carousel__title">Kononenko Architectural Bureau</h3>
          <a
            href="/blogs/font-in-use/kononenko"
            class="button button--secondary carousel__button"
          >
            <span>View project</span>
          </a>
        </div>
      </div>

      <div class="swiper-slide carousel__swiperSlide p-card">
        <div class="carousel__image">
          <img
            src="//pangrampangram.com/cdn/shop/articles/PartnerFilms-StudioRoses-2-bc9e4.webp?v=1745411830"
            width="2000"
            height="2000"
          />
        </div>
        <div class="carousel__content p-stack">
          <div class="carousel__tags">
            <div class="badge badge--red">
              Branding
            </div>
          </div>
          <h3 class="carousel__title">Partner Films</h3>
          <a
            href="/blogs/font-in-use/partner-films"
            class="button button--secondary carousel__button"
          >
            <span>View project</span>
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination-container carousel__paginationContainer">
      <div
        class="swiper-pagination carousel__pagination"
        x-ref="pagination"
      ></div>
    </div>
  </div>
</div>
