<div
  class="swiper hero-carousel [--swiper-navigation-color:var(--color-zinc-900)] [--swiper-pagination-bullet-inactive-color:var(--color-zinc-600)] [--swiper-pagination-color:var(--color-zinc-900)]"
>
  <div class="swiper-wrapper">
    <div class="swiper-slide !flex h-full w-full items-center justify-center">
      <h2 class="px-12 text-4xl xl:text-9xl">Ciao!</h2>
    </div>
    <div class="swiper-slide !flex h-full w-full items-center justify-center">
      <h2 class="px-12 text-4xl xl:text-9xl">Come stai?</h2>
    </div>
    <div class="swiper-slide !flex h-full w-full items-center justify-center">
      <h2 class="px-12 text-2xl xl:text-4xl">
        Ho scritto questa canzone per mio figlio Jake!
      </h2>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
