{% extends "base.twig" %}

{% block content %}
  <section class="flex w-full">
    {{ include("components/hero/hero.twig") }}
  </section>
  {{ include("components/flavors/flavors.twig") }}
  {{ include("components/experience/experience.twig") }}
{% endblock content %}
