{% set title = post.title %}
{% set description = "" %}
{% set image_url = theme.link ~ "/assets/images/share-bis.png" %}
{% set favicon_url = theme.link ~ "/assets/images/favicon-bis.svg" %}

{% extends "layouts/base.twig" %}
{% block content %}
    <div class="absolute flex items-center justify-center w-full h-[calc(100dvh-13rem)]">
        <div class="container px-64 text-4xl text-center text-pretty">
            Il sito per le adesioni di Bologna Innovation Square e Invest in Bologna for Talent arriverà presto!
        </div>
    </div>
{% endblock %}
