<section class="w-full">
  {{ include("components/heading.twig", {
    surtitle: post.flavors_group.surtitle,
    title: post.flavors_group.title,
    subtitle: post.flavors_group.subtitle,
    notes: post.flavors_group.notes
  }) }}
</section>
